html, body {
	height: 100%;
	width: 100%;
	font-family: Sans;
}

body {
	padding-left: 1%;
	padding-right: 1%;
}

main > * {
	margin-top: 0.8em;
	margin-bottom: 1em;
}

#schedule-screen {
	max-width: 90%;
	width: 70em;
	margin: 0em auto 0em auto;
}


#schedule-date {
  border-radius: 0;
  border: outset 2px black;
  text-align: center;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
}

#schedule-table {
  border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
}

#schedule-table tr th,
#schedule-table tr td {
  text-align: left;
}

#schedule-table tr th,
#schedule-table tr td {
	padding: 4px 10px 4px 10px;
	border: dotted thin #a4a4a4;
}

#schedule-table tr th {
  border-bottom: solid 3px black;
}

#schedule-table tr td:first-child {
  width: 5%;
}

#schedule-table tr {
  border-bottom: solid thin #cfcfcf;
}

#schedule-table tr {
	padding: 4px;
}

#schedule-nav {
	width: 60%;
	margin-bottom: 2.5%;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	justify-content: center;
}

#schedule-nav button {
	display: block;
	font-size: 12pt;
	padding-left: 14px;
	padding-right: 14px;
	min-width: 12%;
}

#schedule-nav * {
	font-weight: bold;
	font-size: 13pt;
}


@media (max-width:600px)  {
	#schedule-nav * {
		font-size: 10pt;
	}
}

